<div class="absolute noMargin">
  <div class="center">

    <div class="variables">

      <button (click)="click('A')" class="calibration buttonA">{{buttons.get("A")}}</button>
      <button (click)="click('D')" class="calibration buttonD">{{buttons.get("D")}}</button>
      <button (click)="click('F')" class="calibration buttonF">{{buttons.get("F")}}</button>
      <button (click)="click('H')" class="calibration buttonH">{{buttons.get("H")}}</button>
      <button (click)="click('K')" class="calibration buttonK">{{buttons.get("K")}}</button>


    </div>

    <div class="absolute noMargin overlay">

      <div class="testo">
        <div>
          <p>Tocca brevemente tutti i bottoni una volta.</p>
          <p>Guardare con precisione il bottone mentre lo tocchi.</p>
        </div>
      </div>

    </div>

  </div>
</div>
