.illuminazioneEdgeVariables {
  --spessore: 0.5vh;
  --length: 50vw; //sovrascritta
  --y-time: 8s; //sovrascritta
  --x-time: 8s; //sovrascritta
  --delay: 0s; //non utilizzata
}

.toDown {
  opacity: 0;
  width: var(--spessore);
  height: var(--length);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  animation: down var(--y-time) linear infinite;
  animation-delay: calc(0 * var(--delay));
}

.toRight {
  opacity: 0;
  width: var(--length);
  height: var(--spessore);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  bottom: 0;
  animation: right var(--x-time) linear infinite;
  animation-delay: calc(1 * var(--delay));
}

.toUp {
  opacity: 0;
  width: var(--spessore);
  height: var(--length);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  right: 0;
  animation: up var(--y-time) linear infinite;
  animation-delay: calc(2 * var(--delay));
}

.toLeft {
  opacity: 0;
  width: var(--length);
  height: var(--spessore);
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  top: 0;
  animation: left var(--x-time) linear infinite;
  animation-delay: calc(3 * var(--delay));
}

@keyframes down {
  0% {
    top: calc(-1 * var(--length));
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes right {
  0% {
    left: calc(-1 * var(--length));
    opacity: 1;
  }
  100% {
    left: 100vw;
    opacity: 1;
  }
}

@keyframes up {
  0% {
    top: calc(100vh);
    opacity: 1;
  }
  100% {
    top: calc(-1 * var(--length));
    opacity: 1;
  }
}

@keyframes left {
  0% {
    left: 100vw;
    opacity: 1;
  }
  100% {
    left: calc(-1 * var(--length));
    opacity: 1;
  }
}
