.variables {
  --spessore: 0.5vh;
  --y-altezza: 50vw;
  --x-larghezza: 50vw;
  --y-time: 8s;
  --x-time: 8s;
  --delay: 2s;
}

.toDown {
  opacity: 0;
  width: var(--spessore);
  height: var(--y-altezza);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  animation: down var(--y-time) linear infinite;
  animation-delay: calc(0*var(--delay));
}

.toRight {
  opacity: 0;
  width: var(--x-larghezza);
  height: var(--spessore);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  bottom: 0;
  animation: right var(--x-time) linear infinite;
  animation-delay: calc(1*var(--delay));
}

.toUp {
  opacity: 0;
  width: var(--spessore);
  height: var(--y-altezza);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  right: 0;
  animation: up var(--y-time) linear infinite;
  animation-delay: calc(2*var(--delay));
}

.toLeft {
  opacity: 0;
  width: var(--x-larghezza);
  height: var(--spessore);
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

  position: absolute;
  top: 0;
  animation: left var(--x-time) linear infinite;
  animation-delay: calc(3*var(--delay));
}

@keyframes down {
  0% {
    top: 0;
    opacity: 0;
  }
  49.9% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: calc(-1 * var(--y-altezza));
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes right {
  0% {
    bottom: 0;
    opacity: 0;
  }
  49.9% {
    bottom: 0;
    opacity: 0;
  }
  50% {
    left: calc(-1 * var(--x-larghezza));
    opacity: 1;
  }
  100% {
    left: 100vw;
    opacity: 1;
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    top: calc(100vh);
    opacity: 1;
  }
  100% {
    top: calc(-1 * var(--y-altezza));
    opacity: 1;
  }
}

@keyframes left {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    left: 100vw;
    opacity: 1;
  }
  100% {
    left: calc(-1 * var(--x-larghezza));
    opacity: 1;
  }
}
