.spacerVertical{
  width: 100vw;
  height: 1px; /* che pezzotto.. cosi non si sminchia il frame bha */
  background-color: rgba(0,0,0,0);
}

.div{
  border: 2px solid red; /* cancellami */
  overflow: auto;
  margin: 5vh auto;
  height: 40vh;
  width: 80vw;
  background-color: rgba(0,0,0,0);
}

mat-grid-tile {
  background: lightblue;
}
button {
  height: 100%;
  width: 100%;
  background: lightblue;
}

