<div class="pezzotto"></div>

<div class="div sopra center">
  <p class="grande">Quanto fa 5+7?</p>
</div>


<div class="div">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <button>1</button>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>10</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>12</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>11</mat-grid-tile>
  </mat-grid-list>
</div>
