<div class="spacerVertical"></div>

<div class="div center">
  <p>ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee ciuffete ciuffeeeeeee </p>
</div>


<div class="div">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <button>1</button>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>



