.container {
  background-color: #125699;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text1, .text2 {
  display: inline-block;
  text-align: center;
}

.text1 {
  font-size: xx-large;
}

.text2 {
  font-size: xxx-large;
}

button {
  background-color: rgba(0, 0, 0, 0.30);
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

svg path,
svg rect {
  fill: orangered;
}

.scale{
  transform: scale(3);
}
